﻿@model ChangePasswordViewModel

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Ndrysho Fjalekalimin</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Ndrysho Fjalekalimin</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- User page start -->
<div class="user-page content-area-13">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="user-profile-box mrb">
                    <!--header -->
                    <div class="header clearfix">
                        <h2>@Model.jBuser.FirstName @Model.jBuser.LastName</h2>
                        <img src="~/assets/img/logos/jbanesa_profil_1378_.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a asp-controller="User" asp-action="Profile">
                                    <i class="flaticon-user"></i>Profili
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="PostedBuildings">
                                    <i class="flaticon-house"></i>Ndertimet e Postuara
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-heart-shape-outline"></i>Ndertimet Favorite
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="MatchmakingBuildings">
                                    <i class="flaticon-add"></i>Ndertimet qe ti kerkon
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="ChangePassword" class="active">
                                    <i class="flaticon-locked-padlock"></i>Ndrysho fjalekalimin
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Logout">
                                    <i class="flaticon-logout"></i>Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="my-address contact-2 widget hdn-mb-30">
                    <h3 class="heading">Ndrysho fjalekalimin</h3>
                    <form asp-controller="User" asp-action="ChangePassword" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="form-group name">
                                    <label asp-for="@Model.CurrentPassword">Fjalekalimi aktual</label>
                                    <input asp-for="@Model.CurrentPassword" style="color:darkgrey" type="password" class="form-control" placeholder="Fjalekalimi aktual">
                                    <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                                    @if (ViewData["wrongCurrentPassword"] != null)
                                    {
                                        <span class="text-danger">@ViewData["wrongCurrentPassword"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group email">
                                    <label asp-for="@Model.NewPassword">Fjalekalimi i ri</label>
                                    <input asp-for="@Model.NewPassword" style="color:darkgrey" type="password" class="form-control" placeholder="Fjalekalimi i ri">
                                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group subject">
                                    <label asp-for="@Model.ConfirmPassword">Konfirmo Fjalekalimin</label>
                                    <input asp-for="@Model.ConfirmPassword" style="color:darkgrey" type="password" class="form-control" placeholder="Konfirmo fjalekalimin">
                                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="send-btn">
                                    <button type="submit" class="btn btn-color btn-md btn-message">Ndrysho fjalekalimin</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User page end -->