﻿@model MatchmakingBuildingsViewModel


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Banesat e Kerkuara</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Banesat e Kerkuara</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- User page start -->
<div class="user-page content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="user-profile-box mrb">
                    <!--header -->
                    <div class="header clearfix">
                        <h2>@Model.JbanesaUser.FirstName @Model.JbanesaUser.LastName</h2>
                        <img src="~/assets/img/logos/jbanesa_profil_1378_.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a asp-controller="User" asp-action="Profile">
                                    <i class="flaticon-user"></i>Profili
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="PostedBuildings">
                                    <i class="flaticon-house"></i>Ndertimet e Postuara
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-heart-shape-outline"></i>Ndertimet Favorite
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="MatchmakingBuildings">
                                    <i class="flaticon-add"></i>Ndertimet qe ti kerkon
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="ChangePassword">
                                    <i class="flaticon-locked-padlock"></i>Ndrysho fjalekalimin
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="Logout">
                                    <i class="flaticon-logout"></i>Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="my-properties">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Banesat</th>
                                <th></th>
                                <th class="hdn">Data e Postuar</th>
                                <th class="hdn">Klikimet</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- TODO:  Display the posted buildings -->
                            <tr>
                                <td class="image">
                                    <a href="properties-details.html"><img alt="my-properties-3" src="http://placehold.it/120x80" class="img-fluid"></a>
                                </td>
                                <td>
                                    <div class="inner">
                                        <a href="properties-details.html"><h2>Modern Family Home</h2></a>
                                        <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,</figure>
                                        <div class="tag price">$ 27,000</div>
                                    </div>
                                </td>
                                <td class="hdn">14.02.2018</td>
                                <td class="hdn">421</td>
                                <td class="actions">
                                    <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="image">
                                    <a href="properties-details.html"><img alt="my-properties" src="http://placehold.it/120x80"></a>
                                </td>
                                <td>
                                    <div class="inner">
                                        <a href="properties-details.html"><h2>Beautiful Single Home</h2></a>
                                        <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,</figure>
                                        <div class="tag price">$ 315,000</div>
                                    </div>
                                </td>
                                <td class="hdn">4.01.2018</td>
                                <td class="hdn">266</td>
                                <td class="actions">
                                    <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="image">
                                    <a href="properties-details.html"><img alt="my-properties-2" src="http://placehold.it/120x80"></a>
                                </td>
                                <td>
                                    <div class="inner">
                                        <a href="properties-details.html"><h2>Masons Villas</h2></a>
                                        <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,</figure>
                                        <div class="tag price">$ 62,000</div>
                                    </div>
                                </td>
                                <td class="hdn">24.03.2018</td>
                                <td class="hdn">45</td>
                                <td class="actions">
                                    <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="image">
                                    <a href="properties-details.html"><img alt="my-properties-3" src="http://placehold.it/120x80"></a>
                                </td>
                                <td>
                                    <div class="inner">
                                        <a href="properties-details.html"><h2>Modern Family Home</h2></a>
                                        <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,</figure>
                                        <div class="tag price">$ 27,000</div>
                                    </div>
                                </td>
                                <td class="hdn">14.02.2018</td>
                                <td class="hdn">421</td>
                                <td class="actions">
                                    <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="image">
                                    <a href="properties-details.html"><img alt="my-properties" src="http://placehold.it/120x80"></a>
                                </td>
                                <td>
                                    <div class="inner">
                                        <a href="properties-details.html"><h2>Beautiful Single Home</h2></a>
                                        <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,</figure>
                                        <div class="tag price">$ 315,000</div>
                                    </div>
                                </td>
                                <td class="hdn">4.01.2018</td>
                                <td class="hdn">266</td>
                                <td class="actions">
                                    <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="image">
                                    <a href="properties-details.html"><img alt="my-properties-2" src="http://placehold.it/120x80"></a>
                                </td>
                                <td>
                                    <div class="inner">
                                        <a href="properties-details.html"><h2>Masons Villas</h2></a>
                                        <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,</figure>
                                        <div class="tag price">$ 62,000</div>
                                    </div>
                                </td>
                                <td class="hdn">24.03.2018</td>
                                <td class="hdn">45</td>
                                <td class="actions">
                                    <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination-box text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User page end -->