﻿@model AllPostedBuildingViewModel

@{ 
    var condition = Model.PostedBuildings == null && Model.Message.Length != 0;
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Banesat e Postuara</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Banesat e Postuara</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- User page start -->
<div class="user-page content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="user-profile-box mrb">
                    <!--header -->
                    <div class="header clearfix">
                        <h2>@Model.JBanesaUser.FirstName @Model.JBanesaUser.LastName</h2>                        
                        <img src="~/assets/img/logos/jbanesa_profil_1378_.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a asp-controller="User" asp-action="Profile">
                                    <i class="flaticon-user"></i>Profili
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="PostedBuildings" class="active">
                                    <i class="flaticon-house"></i>Ndertimet e Postuara
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-heart-shape-outline"></i>Ndertimet Favorite
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="MatchmakingBuildings">
                                    <i class="flaticon-add"></i>Ndertimet qe ti kerkon
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="ChangePassword">
                                    <i class="flaticon-locked-padlock"></i>Ndrysho fjalekalimin
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="Logout">
                                    <i class="flaticon-logout"></i>Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="my-properties">
                    @if (condition)
                    {
                        <h3>@Model.Message</h3>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Banesat</th>
                                    <th></th>
                                    <th class="hdn">Data e Postuar</th>
                                    <th class="hdn">Klikimet</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var building in Model.PostedBuildings)
                                {
                                    <tr>
                                        <td class="image">
                                            <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@building.Building.Id"><img alt="my-properties-3" src="@building.PhotoPath.OrderBy(x => Guid.NewGuid()).FirstOrDefault()" class="img-fluid"></a>
                                        </td>
                                        <td>
                                            <div class="inner">
                                                <a asp-controller="Buildings" asp-action="BuildingDetails" asp-route-id="@building.Building.Id"><h2>@building.Building.Title</h2></a>
                                                <figure><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> @building.Building.City.Name, @building.Building.Neighborhood, Rr. @building.Building.Street</figure>
                                                <div class="tag price">$ @building.Building.Price</div>
                                            </div>
                                        </td>
                                        <td class="hdn">@building.Building.DatePosted.Day-@building.Building.DatePosted.Month-@building.Building.DatePosted.Year</td>
                                        <td class="hdn">421</td>
                                        <td class="actions">
                                            <a asp-controller="Apartment" asp-action="EditApartment" asp-route-id="@building.Building.Id" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                            <a asp-controller="Building" asp-action="DeleteBuilding" asp-route-id="@building.Building.Id"><i class="delete fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                </div>
                @if (!condition)
                {
                    <div class="pagination-box text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- User page end -->
