﻿@model JBanesaUser

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Profili</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Profili im</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- User page start -->
<div class="user-page content-area-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="user-profile-box mrb">
                    <!--header -->
                    <div class="header clearfix">
                        <h2>@Model.FirstName @Model.LastName</h2>                        
                        <img src="~/assets/img/logos/jbanesa_profil_1378_.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a asp-controller="User" asp-action="Profile" class="active">
                                    <i class="flaticon-user"></i>Profili
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="PostedBuildings">
                                    <i class="flaticon-house"></i>Banesat e postuara
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-heart-shape-outline"></i>Ndertimet Favorite
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="MatchmakingBuildings">
                                    <i class="flaticon-add"></i>Ndertimet qe ti kerkon
                                </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="ChangePassword">
                                    <i class="flaticon-locked-padlock"></i>Ndrysho Password
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Logout">
                                    <i class="flaticon-logout"></i>Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="my-address contact-2 widget">
                    <h3 class="heading">Detajet e Profilit</h3>
                    <form asp-controller="User" asp-action="Profile" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="form-group name">
                                    <label asp-for="@Model.UserName">Username</label>
                                    <input style="color:darkgrey" type="text" class="form-control" placeholder="Filan Fisteku" value="@Model.UserName" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group message">
                                    <label asp-for="@Model.FirstName">Emri</label>
                                    @if (Model.FirstName.Any() && Model.FirstName != null)
                                    {
                                        <input asp-for="@Model.FirstName" style="color:darkgrey" type="text" class="form-control" placeholder="Filan Fisteku" value="@Model.FirstName">
                                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.FirstName" style="color:darkgrey" type="text" class="form-control" placeholder="Filan Fisteku">
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group subject">
                                    <label asp-for="@Model.PhoneNumber">Telefoni</label>
                                    <input asp-for="@Model.PhoneNumber " style="color:darkgrey" type="text" class="form-control" placeholder="Telefoni" value="@Model.PhoneNumber">
                                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group number">
                                    <label asp-for="@Model.Email">Email</label>
                                    <input style="color:darkgrey" type="email" class="form-control" placeholder="Email" value="@Model.Email" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="send-btn">
                                    <button type="submit" class="btn btn-color btn-md btn-message">Ndrysho Profilin</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User page end -->