﻿@model AllApartmentsViewModel
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>@Model.BuildingsInfo</h1>
            <!--<ul class="breadcrumbs">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="active">@Model.BuildingsInfo</li>
    </ul>-->
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- Featured properties start -->
<div class="featured-properties content-area-2">
    <div class="container">
        <div class="main-title">
            <h1>@Model.BuildingsInfo</h1>
        </div>
        <div class="row filter-portfolio">
            <div class="cars">
                <div class="row">
                    @if (Model.AllApartmentsWithPhoto != null)
                    {

                        @foreach (var building in Model.AllApartmentsWithPhoto)
                        {

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="property-box">
                                    <div class="property-thumbnail">
                                        <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@building.Apartment.Id" class="property-img">
                                            <div class="tag button alt featured">@(building.Apartment.OnSale ? "Ne shitje" : "Me qera")</div>
                                            <div class="price-ratings-box">
                                                <p class="price">
                                                    @building.Apartment.Price<span>&euro;</span>
                                                </p>
                                            </div>
                                            <!-- OrderBy(x => Guid.NewGuid()).FirstOrDefault() it's used for getting a random photo of the list and displaying it -->
                                            <img src="@building.PhotoPath.OrderBy(x => Guid.NewGuid()).FirstOrDefault()" alt="property-2" class="img-fluid">
                                        </a>
                                        <div class="property-overlay">
                                            <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@building.Apartment.Id" class="overlay-link">
                                                <i class="fa fa-link"></i>
                                            </a>
                                            <a class="overlay-link property-video" title="Test Title">
                                                <i class="fa fa-video-camera"></i>
                                            </a>
                                            <div class="property-magnify-gallery">
                                                <a href="http://placehold.it/750x540" class="overlay-link">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <a href="http://placehold.it/750x540" class="hidden"></a>
                                                <a href="http://placehold.it/750x540" class="hidden"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <h1 class="title">@building.Apartment.Title</h1>
                                        <h1 class="title">
                                            <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@building.Apartment.Id">@(building.Apartment.Discriminator.Equals("Apartment") ? "Banesë" : building.Apartment.Equals("House") ? "Shtëpi" : building.Apartment.Equals("Villa") ? "Villë" : "Lokal") </a>
                                        </h1>
                                        <div class="location">
                                            <a href="properties-details.html">
                                                <i class="fa fa-map-marker"></i>@building.Apartment.City.Name, Lagjeja: @building.Apartment.Neighborhood, Rruga: @building.Apartment.Street
                                            </a>
                                        </div>
                                        <ul class="facilities-list clearfix">
                                            <li>
                                                <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> @building.Apartment.BedsNumber
                                            </li>
                                            <li>
                                                <i class="flaticon-bath"></i> @building.Apartment.BathroomsNumber
                                            </li>
                                            <li>
                                                <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> @building.Apartment.SquareMeter m<sup>2</sup>
                                            </li>
                                            <li>
                                                <i class="flaticon-car-repair"></i> @(building.Apartment.HasParking ? "Ka parking" : "Nuk ka parking")
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <a href="#">
                                            <i class="fa fa-user"></i> @building.Apartment.JBanesaUser.FirstName @building.Apartment.JBanesaUser.LastName
                                        </a>
                                        <span>
                                            <i class="fa fa-calendar-o"></i> @building.Apartment.DatePosted.Day @building.Apartment.DatePosted.Month.@building.Apartment.DatePosted.Year
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination-box container col-md-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a></li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
</div>

<!-- Featured properties end -->
