﻿@model AllBuildingsViewModel

<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/img/Buildings/slider-Building.jpg" alt="banner-1">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="text-center">
                            <h1 data-animation="animated fadeInDown delay-05s">jBanesa <br /></h1>
                            <p data-animation="animated fadeInUp delay-10s">
                                Gjeni pronat më të mira për ju dhe familjen tuaj!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/assets/img/Buildings/slider-house.jpg" alt="banner-2">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="text-center">
                            <h1 data-animation="animated fadeInDown delay-05s">Gjej pronat e <br /> ëndrrave tuaj </h1>
                            <p data-animation="animated fadeInUp delay-10s">
                            </p>
                            <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-theme">Fillo tani</a>
                            <a data-animation="animated fadeInUp delay-12s" asp-controller="Account" asp-action="Register" class="btn btn-lg btn-round btn-white-lg-outline">Regjistrohu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/assets/img/Buildings/slider-apartment.jpg" alt="banner-3">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="text-center">
                            <h1 data-animation="animated fadeInUp delay-05s">Vendi më i mirë <br /> për shitjen e pronave</h1>
                            <p data-animation="animated fadeInUp delay-10s">
                            </p>
                            <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-theme">Fillo tani</a>
                            <a data-animation="animated fadeInUp delay-12s" asp-controller="Account" asp-action="Register" class="btn btn-lg btn-round btn-white-lg-outline">Regjistrohu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>

<!-- Search area start -->
<div class="search-area" id="search-area-1">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents ">
                <form asp-controller="Building" asp-action="AllBuildings" method="POST">
                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <input type="number" name="MeterKatror" class="form-control" placeholder="Meter katrore">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="Statusi">
                                    <option disabled selected>Statusi i ndërtesë</option>
                                    <option>Shitje</option>
                                    <option>Qera</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="Lokacioni">
                                    <option disabled selected>Lokacioni</option>
                                    <option>Prishtine</option>
                                    <option>Ferizaj</option>
                                    <option>Mitrovice</option>
                                    <option>Lipjan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="LlojiINdertimit">
                                    <option disabled selected>Lloji i ndërtesës</option>
                                    <option>Banesë</option>
                                    <option>Lokal</option>
                                    <option>Shtëpi</option>
                                    <option>Villa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="NrIDhomave">
                                    <option disabled selected>Dhoma gjumi</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="NrIBanjove">
                                    <option disabled selected>Banjë</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="300" data-unit="Euro" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <button class="search-button btn-md btn-color" type="submit">Kërko</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search area start -->
<!-- Featured properties start -->
<div class="featured-properties content-area-2">
    <div class="container">
        <div class="main-title">
            <h1>@Model.BuildingsInfo</h1>
        </div>
        <div class="row filter-portfolio">
            <div class="cars">
                <div class="row">
                    @if (Model.AllBuildingsWithPhoto != null)
                    {

                        @foreach (var Building in Model.AllBuildingsWithPhoto)
                        {

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="property-box">
                                    <div class="property-thumbnail">
                                        <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@Building.Building.Id" class="property-img">
                                            <div class="tag button alt featured">@(Building.Building.OnSale ? "Ne shitje" : "Me qera")</div>
                                            <div class="price-ratings-box">
                                                <p class="price">
                                                    @Building.Building.Price<span>&euro;</span>
                                                </p>
                                            </div>
                                            <!-- OrderBy(x => Guid.NewGuid()).FirstOrDefault() it's used for getting a random photo of the list and displaying it -->
                                            <img src="@Building.PhotoPath.OrderBy(x => Guid.NewGuid()).FirstOrDefault()" alt="property-2" class="img-fluid">
                                        </a>
                                        <div class="property-overlay">
                                            <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@Building.Building.Id" class="overlay-link">
                                                <i class="fa fa-link"></i>
                                            </a>
                                            <a class="overlay-link property-video" title="Test Title">
                                                <i class="fa fa-video-camera"></i>
                                            </a>
                                            <div class="property-magnify-gallery">
                                                <a href="http://placehold.it/750x540" class="overlay-link">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <a href="http://placehold.it/750x540" class="hidden"></a>
                                                <a href="http://placehold.it/750x540" class="hidden"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <h1 class="title">@Building.Building.Title</h1>
                                        <h1 class="title">
                                            <a asp-controller="Building" asp-action="BuildingDetails" asp-route-id="@Building.Building.Id">@(Building.Building.Discriminator.Equals("Apartment") ? "Banesë" : Building.Building.Equals("House") ? "Shtëpi" : Building.Building.Equals("Villa") ? "Villë" : "Lokal") </a>
                                        </h1>
                                        <div class="location">
                                            <a href="properties-details.html">
                                                <i class="fa fa-map-marker"></i>@Building.Building.City.Name, Lagjeja: @Building.Building.Neighborhood, Rruga: @Building.Building.Street
                                            </a>
                                        </div>
                                        <ul class="facilities-list clearfix">
                                            <li>
                                                <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> @Building.Building.BedsNumber
                                            </li>
                                            <li>
                                                <i class="flaticon-bath"></i> @Building.Building.BathroomsNumber
                                            </li>
                                            <li>
                                                <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> @Building.Building.SquareMeter m<sup>2</sup>
                                            </li>
                                            <li>
                                                <i class="flaticon-car-repair"></i> @(Building.Building.HasParking ? "Ka parking" : "Nuk ka parking")
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <a href="#">
                                            <i class="fa fa-user"></i> @Building.Building.JBanesaUser.FirstName @Building.Building.JBanesaUser.LastName
                                        </a>
                                        <span>
                                            <i class="fa fa-calendar-o"></i> @Building.Building.DatePosted.Day @Building.Building.DatePosted.Month.@Building.Building.DatePosted.Year
                                        </span>
                                    </div>
                                </div>
                            </div> 
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination-box container col-md-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a></li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
</div>

<!-- Featured properties end -->
<!-- intro section start -->
<!-- When not loged in -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-12">
                <p style="color:white; font-size: 40px; font-weight: 700;">jBanesa</p>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="intro-text">
                    <h3>A doni të shisni ndertimin tuaj ose merrni me qera?</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <a asp-controller="Account" asp-action="Login" class="btn btn-md sn">Login</a>
            </div>
        </div>
    </div>
</div>
<!-- intro section end -->
