﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<JBanesaUser> SignInManager
@inject SignInManager<JBanesaUser> UserManager

<!DOCTYPE html>
<html>
<head>

    <title>jBanesa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/jquery.selectBox.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/dropzone.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/leaflet.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/map.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">
    <!--<link type="text/css" rel="stylesheet" href="/assets/css/loginCustomCSS.css">-->
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/skins/default.css">
    <!--<link rel="stylesheet" type="text/css" href="/assets/css/ourcss.css">-->


</head>

<body id="top">

    <div class="page_loader"></div>

    @RenderBody()

    <!-- External JS libraries -->
    <script src="/assets/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="/assets/js/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.selectBox.js" type="text/javascript"></script>
    <script src="/assets/js/rangeslider.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.filterizr.js" type="text/javascript"></script>
    <script src="/assets/js/wow.min.js" type="text/javascript"></script>
    <script src="/assets/js/backstretch.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.countdown.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.scrollUp.js" type="text/javascript"></script>
    <script src="/assets/js/particles.min.js" type="text/javascript"></script>
    <script src="/assets/js/typed.min.js" type="text/javascript"></script>
    <script src="/assets/js/dropzone.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
    <script src="/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="/assets/js/leaflet-providers.js" type="text/javascript"></script>
    <script src="/assets/js/leaflet.markercluster.js" type="text/javascript"></script>
    <script src="/assets/js/maps.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE" type="text/javascript"></script>
    <script src="/assets/js/ie-emulation-modes-warning.js" type="text/javascript"></script>
    <!--<script src="/assets/js/jquery.filedrop.js" type="text/javascript"></script>-->
    <!-- Custom JS Script -->
    <script src="/assets/js/app.js" type="text/javascript"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
