﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<JBanesaUser> SignInManager
@inject SignInManager<JBanesaUser> UserManager

<!DOCTYPE html>
<html>
<head>

    <title>jBanesa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/jquery.selectBox.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/dropzone.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/leaflet.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/map.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">
    <!--<link type="text/css" rel="stylesheet" href="/assets/css/loginCustomCSS.css">-->
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/skins/default.css">
    <!--<link rel="stylesheet" type="text/css" href="/assets/css/ourcss.css">-->


</head>

<body id="top">

    <div class="page_loader"></div>
    <!-- main header start -->
    <header class="main-header sticky-header" id="main-header-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light rounded">
                        <a class="navbar-brand navbar-brand d-flex w-50 mr-auto"
                           asp-controller="Home"
                           asp-action="Index">
                            <img src="~/assets/img/logos/jbanesatransparentlogo.png" width="150px" height="40px" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="navbar-collapse collapse w-100" id="navbar">
                            <ul class="navbar-nav w-100 justify-content-center">
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Qera
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Te gjitha</a></li>
                                        <li><a class="dropdown-item" asp-controller="Building" asp-action="AllApartmentsForRent">Banesa</a></li>
                                        <li><a class="dropdown-item" href="#">Shtepi</a></li>
                                        <li><a class="dropdown-item" href="#">Villa</a></li>
                                        <li><a class="dropdown-item" href="#">Lokale</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shitje
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Te gjitha</a></li>
                                        <li><a class="dropdown-item" asp-controller="Building" asp-action="AllApartmentsForSale">Banesa</a></li>
                                        <li><a class="dropdown-item" href="#">Shtepi</a></li>
                                        <li><a class="dropdown-item" href="#">Villa</a></li>
                                        <li><a class="dropdown-item" href="#">Lokale</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Posto
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="Apartment" asp-action="AddApartment">Banesa</a></li>
                                        <li><a class="dropdown-item" href="#">Shtepi</a></li>
                                        <li><a class="dropdown-item" href="#">Villa</a></li>
                                        <li><a class="dropdown-item" href="#">Lokale</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Matchmaking
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="MatchmakingApartment" asp-action="AddMatchmakingApartment">Banese</a></li>
                                    </ul>
                                </li>
                                <!-- hide these 2 when loged in. -->
                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Hyr
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="Account"
                                                   asp-action="Login">Kycu</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="Account"
                                                   asp-action="Register">Regjistrohu</a>
                                            </li>

                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Dil
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="Account"
                                                   asp-action="Logout">C'kycu</a>
                                            </li>

                                        </ul>
                                    </li>
                                }
                            </ul>
                            <!-- If logged in show menu -->
                            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <a class="open-offcanvas" href="#">
                                            <span>@User.Identity.Name</span>
                                            <span class="fa fa-bars"></span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main header end -->
    @RenderBody()
    <!-- Footer start -->
    <footer class="footer">
        <div class="container footer-inner">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>Na Kontaktoni</h4>
                        <ul class="contact-info">
                            <li>
                                Adresa: Prishtine
                            </li>
                            <li>
                                Email: <a href="mailto:info@themevessel.com">info@jbanesa.com</a>
                            </li>
                        </ul>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>
                            Me shume
                        </h4>
                        <ul class="links">
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>FAQ</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Per ne</a>
                            </li>
                            <li>
                                <a asp-controller="Building" asp-action="AllApartmentsForRent"><i class="fa fa-angle-right"></i>Banesa me qera</a>
                            </li>
                            <li>
                                <a asp-controller="Building" asp-action="AllApartmentsForSale"><i class="fa fa-angle-right"></i>Banesa ne shitje</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Shtepi me qera</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Shtepi ne shitje</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="recent-posts footer-item">
                        <h4>Mbeshtetur nga</h4>
                        <div class="media mb-4">
                            <a class="pr-4" href="#">
                                <!--<img src="~/assets/img/logos/unicef-300x300.png" alt="sub-property">-->
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="#">UNICEF KOSOVO</a>
                                </h5>
                                <p></p>
                                <p> <strong></strong></p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <a class="pr-4" href="#">
                                <!--<img src="~/assets/img/logos/ilk.png" alt="sub-property-2">-->
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="#">INOVATIONS LAB KOSOVA</a>
                                </h5>
                                <p></p>
                                <p> <strong></strong></p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <h4>Subscribe</h4>
                        <div class="Subscribe-box">
                            <p>Deshironi qe per cdo ndryshim te madh te njoftoheni me kohe?</p>
                            <form action="#" method="GET">
                                <p>
                                    <input type="text" class="form-contact" name="email" placeholder="Shkruaj e-mail addressen">
                                </p>
                                <p>
                                    <button type="submit" name="submitNewsletter" class="btn btn-block btn-color">
                                        Subscribe
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy">&copy;  2018 <a href="http://jbanesa.com/" target="_blank">jBanesa</a>. Te gjitha te drejtat e rezervuara.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
    <!-- Off-canvas sidebar -->
    <div class="off-canvas-sidebar">
        <div class="off-canvas-sidebar-wrapper">
            <div class="off-canvas-header">
                <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
            </div>
            <div class="off-canvas-content">
                <aside class="canvas-widget">
                    <div class="logo text-center">
                        <p style="color:white; font-size: 40px; font-weight: 700;">jBanesa</p>
                    </div>
                </aside>
                <aside class="canvas-widget">
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children"><a asp-controller="User" asp-action="Profile">Profili</a></li>
                        <li class="menu-item"><a asp-controller="User" asp-action="PostedBuildings">Ndertimet e postuara</a></li>
                        <li class="menu-item"><a href="#">Ndertimet favorite</a></li>
                        <li class="menu-item"><a asp-controller="User" asp-action="MatchmakingBuildings">Ndertimet qe ti kerkon</a></li>
                        <li class="menu-item"><a asp-controller="User" asp-action="ChangePassword">Ndrysho fjalekalimin</a></li>
                   <!--<li class="menu-item">
                           <a asp-controller="City"
                            asp-action="CitiesAndNeighborhoods">
                            Qytetet dhe lagjet
                           </a>
                        </li>-->
                        <li class="menu-item"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                    </ul>
                </aside>
                <aside class="canvas-widget">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/jBanesa/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>


    <!-- External JS libraries -->
    <script src="/assets/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="/assets/js/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.selectBox.js" type="text/javascript"></script>
    <script src="/assets/js/rangeslider.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.filterizr.js" type="text/javascript"></script>
    <script src="/assets/js/wow.min.js" type="text/javascript"></script>
    <script src="/assets/js/backstretch.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.countdown.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.scrollUp.js" type="text/javascript"></script>
    <script src="/assets/js/particles.min.js" type="text/javascript"></script>
    <script src="/assets/js/typed.min.js" type="text/javascript"></script>
    <script src="/assets/js/dropzone.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
    <script src="/assets/js/leaflet.js" type="text/javascript"></script>
    <script src="/assets/js/leaflet-providers.js" type="text/javascript"></script>
    <script src="/assets/js/leaflet.markercluster.js" type="text/javascript"></script>
    <script src="/assets/js/maps.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE" type="text/javascript"></script>
    <script src="/assets/js/ie-emulation-modes-warning.js" type="text/javascript"></script>
    <!--<script src="/assets/js/jquery.filedrop.js" type="text/javascript"></script>-->
    <!-- Custom JS Script -->
    <script src="/assets/js/app.js" type="text/javascript"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
