﻿@{
    // Use Another Layout
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- pages-404 start -->
<div class="pages-404 content-area-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pages-404-inner">
                    <h1>404</h1>
                    <div class="e404">
                        @if (ViewBag.Error != null)
                        {
                            <h5>@ViewBag.Error</h5>
                        }
                        <h5>Faqja nuk eshte gjetur</h5>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-border btn-sm" role="button">home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-404 end -->