﻿@model EmailConfirmationViewModel

@{ 
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container">
    <div class="row">
        <div class="alert alert-success col-md-12 text-center" role="alert" id="notes">
            <h1>Account-i eshte konfirmuar!</h1>
            <ul>               
                <li>Keni konfirmuar me suksen account-in e juaj! </li>
                <li>Kyquni dhe perdoreni accountin e juaj!  <a asp-controller="Account" asp-action="Login" class="alert-link">Kyquni tani!</a>.</li>
            </ul>
        </div>
    </div>
</div>
