﻿@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<!-- Forgot password page start -->
<div class="login-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 overview-bgi cnt-bg-photo cnt-bg-photo-2 d-none d-xl-block d-lg-block d-md-block" style="background-image: url('/assets/img/login/rooms132.jpg')">

                <div class="login-info">
                    <h3>Mire se vini ne jBanesa!</h3>
                    <p>Behuni pjese e jBanesa, website i dizajnuar per te ndihmuar ne gjetjen e ndertimeve te ndryshme...</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 content-box">
                <div class="content-form-box">
                    <h1 class="login-header">Kam harruar fjalekalimin</h1>
                    @if (ViewData["EmailSent"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewData["EmailSent"]
                        </div>
                    }
                    <p>Ju lutem shkruani emailin me te cilin jeni regjistruar, ne menyre qe te pranoni linkun per ta ndryshuar fjalekalimin qe keni harruar, gjithashtu do ta pranoni edhe emrin e perdoruesit.</p>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" onsubmit="theButton.disabled = true; return true;">
                        <div class="form-group">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                            @if (ViewData["UserDontExist"] != null)
                            {
                                <span class="text-danger">@ViewData["UserDontExist"]</span>
                            }
                            else
                            {
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            }
                        </div>
                        <button type="submit" name="theButton" class="btn btn-color btn-md">Vazhdo</button>
                    </form>
                </div>
                <div class="login-footer clearfix">
                    <div class="pull-left">
                        <b>jBanesa</b><img src="~/assets/img/logos/jbanesa_profil_1378_.png" style="resize: both" alt="logo">
                    </div>
                    <div class="pull-right">
                        <p>Nuk keni llogari?<a asp-controller="Account" asp-action="Forgot"> Regjistrohuni ketu</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot password page end -->