﻿@model LoginViewModel

@{ 
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- Login page start -->
<div class="login-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 overview-bgi cnt-bg-photo cnt-bg-photo-2 d-none d-xl-block d-lg-block d-md-block" style="background-image: url('/assets/img/login/rooms132.jpg')">
                <div class="login-info">
                    <h3>Mire se vini ne jBanesa!</h3>
                    <p>Behuni pjese e jBanesa, webapp i dizajnuar per te ndihmuar ne gjetjen e ndertimeve te ndryshme...</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 content-box p-hdn">
                <div class="content-form-box">
                    <h1 class="login-header">Login</h1>
                    <p>Mbushni fushat ne menyre ne menyre qe te postoni apo urdheroni aplikacionin te gjej ndertimin e juaj.</p>
                    <form asp-controller="Account" asp-action="Login" method="post" onsubmit="theButton.disabled = true; return true;">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            @if (Model.UserName != null)
                            {
                                <input value="@Model.UserName" type="text" class="form-control" name="UserName" placeholder="Emri perdoruesit">
                            }
                            else
                            {
                                <input type="text" class="form-control" name="UserName" placeholder="Username">
                            }

                            @if (ViewData["EmailNotConfirmed"] != null)
                            {
                                <span class="text-danger">@ViewData["EmailNotConfirmed"]</span>
                            }
                            else
                            {
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            }
                        </div>
                        <div class="form-group">
                            <input type="Password" class="form-control" name="Password" placeholder="Fjalekalimi">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            @if (ViewData["wrongUserOrPassword"] != null)
                            {
                                <span class="text-danger">@ViewData["wrongUserOrPassword"]</span>
                            }
                        </div>
                        <button type="submit" name="theButton" class="btn btn-color btn-md">Kyçu</button>
                    </form>
                </div>
                <div class="login-footer clearfix">
                    <div class="pull-left">
                        <a asp-controller="Home" asp-action="Index"><b>jBanesa</b><img src="~/assets/img/logos/jbanesa_profil_1378_.png" style="resize: both" alt="logo"></a>
                    </div>
                    <div class="pull-right">
                        <p>Nuk keni account?<a asp-controller="Account" asp-action="Register"> Regjistrohuni ketu</a></p>
                    </div>
                    <div class="pull-left">
                        <p>Keni harruar fjalekalimin apo emrin e perdoruesit?<a asp-action="ForgotPassword"> Kliko ketu</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login page end -->