﻿@model RegisterViewModel


@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

}



<!-- Register page start -->
<div class="register-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 cnt-bg-photo d-none d-xl-block d-lg-block d-md-block" <!--style="background-image: url('/assets/img/register/register.jpg')-->">
                <div class="register-info">
                    <a href="index.html">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logos/jbanesatransparentlogo.png" alt="logo"></a>
                    </a>
                    <p>Faleminderit qe zgjodhet jBanesa! krijo account-in dhe fillo te postosh apartamentet e juaja</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12 align-self-center">
                <div class="content-form-box register-box">
                    @if (ViewData["ConfirmEmail"] != null)
                    {

                        <div class="alert alert-success" role="alert">
                            @ViewData["ConfirmEmail"] <a href="#" class="alert-link">Resend email!</a>.
                        </div>

                    }
                    <div class="login-header"><h4>Krijo accountin e juaj</h4></div>
                    <form asp-controller="Account" asp-action="Register" onsubmit="theButton.disabled = true; return true;">
                        <div class="form-group">
                            <label>Emri Perdoruesit</label>
                            @if (Model != null && Model.UserName != null)
                            {
                                <input value="@Model.UserName" type="text" class="form-control" asp-for="UserName" placeholder="Emri perdoruesit">
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="UserName" placeholder="Emri perdoruesit">
                            }
                            @Html.ValidationMessage("Error")
                            @if (ViewBag.UserExists != null && ViewBag.UserExists)
                            {
                                <span class="text-danger">Ky emer i perdoruesit ekziston, perdor nje tjeter!</span>
                            }
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Emri</label>
                            @if (Model != null && Model.FirstName != null)
                            {
                                <input value="@Model.FirstName" type="text" class="form-control" asp-for="FirstName" placeholder="Emri">
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="FirstName" placeholder="Emri">
                            }
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Mbiemri</label>
                            @if (Model != null && Model.LastName != null)
                            {
                                <input value="@Model.LastName" type="text" class="form-control" asp-for="LastName" placeholder="Mbiemri">
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="LastName" placeholder="Mbiemri">
                            }

                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-envelope"></i> E-maili</label>
                            @if (Model != null && Model.Email != null)
                            {
                                <input value="@Model.Email" type="email" class="form-control" asp-for="Email" placeholder="E-maili">
                            }
                            else
                            {
                                <input type="email" class="form-control" asp-for="Email" placeholder="E-maili">
                            }
                            @if (ViewBag.EmailProblem != null)
                            {
                                <span class="text-danger">Problem me email! @ViewBag.EmailProblem</span>
                            }
                            @if (ViewBag.EmailExists != null)
                            {
                                <span class="text-danger">@ViewBag.EmailExists</span>
                            }
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-phone"></i> Numri telefonit</label>
                            @if (Model != null && Model.PhoneNumber != null)
                            {
                                <input value="@Model.PhoneNumber" type="text" class="form-control" asp-for="PhoneNumber" placeholder="+383 44 000 000">
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="+383 44 000 000">
                            }

                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Fjalëkalimi</label>

                            <input type="Password" class="form-control" asp-for="Password" placeholder="Fjalëkalimi">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Konfirmo Fjalëkalimin</label>
                            <input type="Password" class="form-control" asp-for="ConfirmPassword" placeholder="Ri-shkruaj Fjalëkalimin">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="theButton" class="btn btn-color btn-md btn-block">Krijoje Llogarinë</button>
                        </div>
                        <div class="login-footer text-center">
                            <p>
                                Tashme kam llogari?<a asp-controller="Account"
                                                      asp-action="Login">Kyçuni</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register page end -->