﻿@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<!-- Forgot password page start -->
<div class="login-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 overview-bgi cnt-bg-photo cnt-bg-photo-2 d-none d-xl-block d-lg-block d-md-block" style="background-image: url('/assets/img/login/rooms132.jpg')">
                <div class="login-info">
                    <h3>Mire se vini ne jBanesa!</h3>
                    <p>Behuni pjese e jBanesa, website i dizajnuar per te ndihmuar ne gjetjen e ndertimeve te ndryshme...</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 content-box">
                <div class="content-form-box">
                    <h1 class="login-header">Kam harruar fjalekalimin</h1>
                    @if (ViewData["Success"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewData["Success"] <a asp-controller="Account" asp-action="Login" class="alert-link">Kyquni tani!</a>.
                        </div>
                    }
                    else if(ViewData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Error"]
                        </div>
                    }
                    <p>Shkruaj dhe konfirmo fjalekalimin e ri!</p>
                    <form asp-controller="Account" asp-action="ResetPassword" method="post" onsubmit="theButton.disabled = true; return true;">
                        <input asp-for="Token" type="hidden">
                        <input asp-for="Email" type="hidden">
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Fjalekalimi">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Konfirmo Fjalekalimin">
                        </div>
                        <button type="submit" name="theButton" class="btn btn-color btn-md">Vazhdo</button>
                    </form>
                </div>
                <div class="login-footer clearfix">
                    <div class="pull-left">
                        <b>jBanesa</b><img src="~/assets/img/logos/jbanesa_profil_1378_.png" style="resize: both" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot password page end -->