﻿@model ApartmentFilesViewModel


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Posto nje ndertim</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Shto Banese</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->


<!-- User page start -->
<div class="user-page submit-property content-area-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="notification-box mb-60">
                    <h3>Vemendje ;)</h3>
                    <p>
                        Duhet te mbushni te gjitha fushat ne menyre qe sistemi te gjej qira marresit sa me shpejte duke iu derguar mesazh, pra nese nuk i mbusheni ata nuk do te mund te pranojne njoftim!<br>
                        Duke mbushur te gjitha fushat ju gati se nuk do te keni nevoje te shkruani tekst ekstra.<br>
                        Cdo kush qe kerkon ndertim me kriteret e juaja do ju dergohet nje mesazh, pra mos harroni ta fshijeni nga jBanesa pasi te keni arritur marrveshje me ndokane.
                    </p>
                </div>

                <div class="search-area contact-2">
                    <div class="search-area-inner">
                        <div class="search-contents ">
                            <form asp-controller="Apartment" asp-action="AddApartment" enctype="multipart/form-data" method="post" onsubmit="theButton.disabled = true; return true;">

                                <h3 class="heading">Informata per Banesen</h3>
                                <br />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <br />
                                <div class="row mb-50">
                                    <div class="col-md-12">
                                        <h3 class="heading">Ngarko fotot</h3>
                                        <input type="file" asp-for="Files" multiple="multiple" class="btn btn-color btn-md" accept="image/png, image/jpeg" />
                                        <br />
                                        <span asp-validation-for="Files" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Apartment.Title">Titulli</label>
                                            @if (Model.Apartment != null &&
                                       Model.Apartment.Title != null &&
                                       !Model.Apartment.Title.ToLower().Trim().Equals(""))
                                            {
                                                <input value="@Model.Apartment.Title" asp-for="Apartment.Title" type="text" class="form-control" placeholder="Titulli" style="color: #6c6c6c">
                                            }
                                            else
                                            {
                                                <input asp-for="Apartment.Title" type="text" class="form-control" placeholder="Titulli" style="color: #6c6c6c">
                                            }
                                            <span asp-validation-for="Apartment.Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.OnSale">Gjendja</label>
                                            <select asp-for="Apartment.OnSale" class="selectpicker search-fields">
                                                <option value="false">Me qera</option>
                                                <option value="true">Ne shitje</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Should be removed -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Lloji</label>
                                            <select class="selectpicker search-fields" name="type">
                                                <option>Banese</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">

                                            <label asp-for="Apartment.Price">Çmimi</label>
                                            @if (Model.Apartment != null &&
                                      Model.Apartment.Price != 0)
                                            {
                                                <input value="@Model.Apartment.Price" asp-for="Apartment.Price" type="number" class="form-control" placeholder="Titulli" style="color: #6c6c6c">
                                            }
                                            else
                                            {
                                                <input asp-for="Apartment.Price" value="1" type="number" class="form-control" placeholder="&euro;" style="color: #6c6c6c">
                                            }
                                            <span asp-validation-for="Apartment.Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.SquareMeter">Madhesia (m<sup>2</sup>)</label>
                                            @if (Model.Apartment != null &&
                                     Model.Apartment.SquareMeter != 0)
                                            {
                                                <input value="@Model.Apartment.SquareMeter" asp-for="Apartment.SquareMeter" type="number" class="form-control" placeholder="Meter katrore" style="color: #6c6c6c">
                                            }
                                            else
                                            {
                                                <input asp-for="Apartment.SquareMeter" value="1" type="number" class="form-control" placeholder="Meter katrore" style="color: #6c6c6c">
                                            }
                                            <span asp-validation-for="Apartment.SquareMeter" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.RoomsNumber">Dhoma</label>
                                            <select asp-for="Apartment.RoomsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 10; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.RoomsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.SwimmingPoolsNumber">Numri Pishinave</label>
                                            <select asp-for="Apartment.SwimmingPoolsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.SwimmingPoolsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.BathroomsNumber">Banjo</label>
                                            <select asp-for="Apartment.BathroomsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.BathroomsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Ngarko fotot</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-12">
                                        <!--<input id="files" type="files" multiple onchange="fileuploads('files');" />-->
                                        <div id="myDropZone" class="dropzone dropzone-design mb-50">
                                            <div class="dz-default dz-message"><span>Hedh fotot ketu per tu ngarkuar</span></div>

                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Adresa</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Qyteti</label>
                                            <select asp-for="Apartment.CityId" id="city" class="selectpicker search-fields">
                                                @foreach (City c in Model.Cities)
                                                {
                                                    <option value="@c.Id">@c.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.Neighborhood">Lagjeja</label>
                                            @if (Model.Apartment != null && Model.Apartment.Neighborhood != null)
                                            {
                                                <input value="@Model.Apartment.Neighborhood" asp-for="Apartment.Neighborhood" type="text" class="form-control" placeholder="Rruga" style="color: #6c6c6c">
                                            }
                                            else
                                            {
                                                <input asp-for="Apartment.Neighborhood" type="text" class="form-control" placeholder="Lagjeja" style="color: #6c6c6c">
                                            }
                                            <span asp-validation-for="Apartment.Neighborhood" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Apartment.Street">Rruga</label>
                                            @if (Model.Apartment != null && Model.Apartment.Street != null)
                                            {
                                                <input value="@Model.Apartment.Street" asp-for="Apartment.Street" type="text" class="form-control" placeholder="Rruga" style="color: #6c6c6c">
                                            }
                                            else
                                            {
                                                <input asp-for="Apartment.Street" type="text" class="form-control" placeholder="Rr." style="color: #6c6c6c">
                                            }
                                            <span asp-validation-for="Apartment.Street" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Pershkrimi</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-12">
                                        <div class="form-group message">
                                            <label></label>
                                            @if (Model.Apartment != null && Model.Apartment.Description != null)
                                            {
                                                <textarea asp-for="Apartment.Description" value="@Model.Apartment.Description" class="form-control" placeholder="Me shume informata" style="color: #6c6c6c"></textarea>
                                            }
                                            else
                                            {
                                                <textarea asp-for="Apartment.Description" class="form-control" placeholder="Me shume informata" style="color: #6c6c6c"></textarea>
                                            }
                                            <span asp-validation-for="Apartment.Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Viti Ndertimit</label>
                                            <select asp-for="Apartment.BuiltYear" class="selectpicker search-fields">
                                                @for (int i = 1980; i <= 2018; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.BuiltYear)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Dhoma te fjetjes</label>
                                            <select asp-for="Apartment.BedroomsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.BedroomsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Shtreter te fjetjes</label>
                                            <select asp-for="Apartment.BedsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 10; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.BedsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Bathrooms</label>
                                            <select asp-for="Apartment.BathroomsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.BathroomsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Numri liftave</label>
                                            <select asp-for="Apartment.ElevatorsNumber" class="selectpicker search-fields">
                                                @for (int i = 0; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.ElevatorsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Numri klimave</label>
                                            <select asp-for="Apartment.AirConditionersNumber" class="selectpicker search-fields">
                                                @for (int i = 0; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.AirConditionersNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Numri Garazhave</label>
                                            <select asp-for="Apartment.GaragesNumber" class="selectpicker search-fields">
                                                @for (int i = 0; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.GaragesNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Numri Kateve</label>
                                            <select asp-for="Apartment.FloorsNumber" class="selectpicker search-fields">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.FloorsNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Numri i terasave/ballkoneve</label>
                                            <select asp-for="Apartment.BalconiesNumber" class="selectpicker search-fields">
                                                @for (int i = 0; i <= 5; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.BalconiesNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label>Numri i katit perkates</label>
                                            <select asp-for="Apartment.FloorNumber" class="selectpicker search-fields">
                                                @for (int i = -2; i <= 15; i++)
                                                {
                                                    if (Model.Apartment != null && i == Model.Apartment.FloorNumber)
                                                    {
                                                        <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <h3 class="heading">Te tjera</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasBasement)
                                                {
                                                    <input asp-for="Apartment.HasBasement" value="true" checked class="form-check-input" type="checkbox" id="HasBasement" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasBasement" value="true" class="form-check-input" type="checkbox" id="HasBasement" color="blue">
                                                }
                                                <label asp-for="Apartment.HasBasement" class="form-check-label" for="HasBasement">
                                                    Ka Podrum
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasTermokos)
                                                {
                                                    <input asp-for="Apartment.HasTermokos" value="true" checked class="form-check-input" type="checkbox" id="HasTermokos" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasTermokos" value="true" class="form-check-input" type="checkbox" id="HasTermokos" color="blue">
                                                }
                                                <label asp-for="Apartment.HasTermokos" class="form-check-label" for="HasTermokos">
                                                    Ka Termokos
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.IsFurnished)
                                                {
                                                    <input asp-for="Apartment.IsFurnished" value="true" checked class="form-check-input" type="checkbox" id="IsFurnished" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.IsFurnished" value="true" class="form-check-input" type="checkbox" id="IsFurnished" color="blue">
                                                }
                                                <label class="form-check-label" for="IsFurnished">
                                                    E Mobiluar
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.IsIsolated)
                                                {
                                                    <input asp-for="Apartment.IsIsolated" value="true" checked class="form-check-input" type="checkbox" id="IsIsolated" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.IsIsolated" value="true" class="form-check-input" type="checkbox" id="IsIsolated" color="blue">
                                                }
                                                <label class="form-check-label" for="IsIsolated">
                                                    E Izoluar
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasParking)
                                                {
                                                    <input asp-for="Apartment.HasParking" value="true" checked class="form-check-input" type="checkbox" id="HasParking" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasParking" value="true" class="form-check-input" type="checkbox" id="HasParking" color="blue">
                                                }
                                                <label class="form-check-label" for="HasParking">
                                                    Ka Parking
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasSecurity)
                                                {
                                                    <input asp-for="Apartment.HasSecurity" value="true" checked class="form-check-input" type="checkbox" id="HasSecurity" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasSecurity" value="true" class="form-check-input" type="checkbox" id="HasSecurity" color="blue">
                                                }
                                                <label class="form-check-label" for="HasSecurity">
                                                    Ka Sigurim
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasWireless)
                                                {
                                                    <input asp-for="Apartment.HasWireless" value="true" checked class="form-check-input" type="checkbox" id="HasWireless" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasWireless" value="true" class="form-check-input" type="checkbox" id="HasWireless" color="blue">
                                                }
                                                <label class="form-check-label" for="HasWireless">
                                                    WiFi
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasTV)
                                                {
                                                    <input asp-for="Apartment.HasTV" value="true" checked class="form-check-input" type="checkbox" id="HasTV" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasTV" value="true" class="form-check-input" type="checkbox" id="HasTV" color="blue">
                                                }
                                                <label class="form-check-label" for="HasTV">
                                                    Ka Televizor
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <div class="form-check checkbox-theme">
                                                @if (Model.Apartment != null && Model.Apartment.HasAlarm)
                                                {
                                                    <input asp-for="Apartment.HasAlarm" value="true" checked class="form-check-input" type="checkbox" id="HasAlarm" color="blue">
                                                }
                                                else
                                                {
                                                    <input asp-for="Apartment.HasAlarm" value="true" class="form-check-input" type="checkbox" id="HasAlarm" color="blue">
                                                }
                                                <label class="form-check-label" for="HasAlarm">
                                                    Ka Alarm
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="heading">Falemnderit per perdorimin e jBanesa, fat te mbare!</h3>
                                <div class="row">
                                    @*
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" name="name" class="form-control" placeholder="Phone">
                                            </div>
                                        </div>
                                    *@
                                    <input hidden type="text" asp-for="Apartment.JBanesaUserName" value="@User.Identity.Name" />

                                    <div class="col-lg-12 col-lg-offset-4">
                                        <button type="submit" name="theButton" class="btn btn-color btn-md">Posto Ndertimin</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User page end -->