﻿@model ApartmentViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Detajet e Baneses</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Detajet e Baneses</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- Properties details page start -->
<div class="properties-details-page content-area-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12 slider">
                <div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide mb-60">
                    <div class="heading-properties">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <h3>@Model.Apartment.Title</h3>
                                    <p><i class="fa fa-map-marker"></i> @Model.Apartment.City.Name, Lagjeja @Model.Apartment.Neighborhood, Rr. @Model.Apartment.Street</p>
                                </div>
                                <div class="p-r">
                                    <h3>@Model.Apartment.Price&euro;</h3>
                                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main slider carousel items -->
                    @{ 
                        int i = 0;
                        int j = 0;
                        <div class="carousel-inner">
                            @foreach (var filePath in Model.PhotoPath)
                            {
                                if (i == 0)
                                {
                                    <div class="active item carousel-item" data-slide-number="@i">
                                        <img src="@filePath" class="img-fluid" alt="property-@i">
                                    </div>
                                }
                                else
                                {
                                    <div class="item carousel-item" data-slide-number="@i">
                                        <img src="@filePath" class="img-fluid" alt="property-@i">
                                    </div>
                                }
                                i++;
                            }

                            <a class="carousel-control left" href="#propertiesDetailsSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="carousel-control right" href="#propertiesDetailsSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>

                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators smail-properties list-inline nav nav-justified">
                            @foreach (var filePath in Model.PhotoPath)
                            {
                                if (j == 0)
                                {
                                    <li class="list-inline-item active">
                                        <a id="carousel-selector-0" class="selected" data-slide-to="@j" data-target="#propertiesDetailsSlider">
                                            <img src="@filePath" class="img-fluid" alt="property-@j">
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-inline-item">
                                        <a id="carousel-selector-1" data-slide-to="@j" data-target="#propertiesDetailsSlider">
                                            <img src="@filePath" class="img-fluid" alt="property-@j">
                                        </a>
                                    </li>
                                }
                                j++;

                            }
                        </ul>
                    }
                </div>
                <!-- Search area start -->
                <div class="widget-2 search-area d-lg-none d-xl-none">
                    <h5 class="sidebar-title">Kerkim i avancuar</h5>
                    <div class="search-area-inner">
                        <div class="search-contents ">
                            <form method="GET">
                                <div class="form-group">
                                    <label>Area From</label>
                                    <select class="selectpicker search-fields" name="area">
                                        <option>Area From</option>
                                        <option>1500</option>
                                        <option>1200</option>
                                        <option>900</option>
                                        <option>600</option>
                                        <option>300</option>
                                        <option>100</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Property Status</label>
                                    <select class="selectpicker search-fields" name="Status">
                                        <option>Property Status</option>
                                        <option>For Sale</option>
                                        <option>For Rent</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <select class="selectpicker search-fields" name="Location">
                                        <option>Location</option>
                                        <option>United Kingdom</option>
                                        <option>American Samoa</option>
                                        <option>Belgium</option>
                                        <option>Canada</option>
                                        <option>Delaware</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Property Types</label>
                                    <select class="selectpicker search-fields" name="types">
                                        <option>Property Types</option>
                                        <option>Residential</option>
                                        <option>Commercial</option>
                                        <option>Land</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Bedrooms</label>
                                    <select class="selectpicker search-fields" name="bedrooms">
                                        <option>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>2 Bathrooms</label>
                                    <select class="selectpicker search-fields" name="bedrooms">
                                        <option>2 Bathrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Cmimi</label>
                                    <div class="range-slider">
                                        <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <br />
                                <button class="search-button btn-md btn-color">Kerko</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tabbing box start -->
                <div class="tabbing tabbing-box mb-60">
                    <ul class="nav nav-tabs" id="carTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Pershkrimi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Plani i Kateve</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="true">Me shume detaje</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" id="4-tab" data-toggle="tab" href="#4" role="tab" aria-controls="4" aria-selected="true">Video</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" id="5-tab" data-toggle="tab" href="#5" role="tab" aria-controls="5" aria-selected="true">Lokacioni</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" id="6-tab" data-toggle="tab" href="#6" role="tab" aria-controls="6" aria-selected="true">Related Properties</a>
                        </li>-->
                    </ul>
                    <div class="tab-content" id="carTabContent">
                        <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <h3 class="heading">Pershkrimi i Baneses</h3>
                            @if(Model.Apartment.Description == null || Model.Apartment.Description.Equals(""))
                            {
                                <p>Nuk ka pershkrim.</p>
                            }
                            else
                            {
                                <p>@Model.Apartment.Description</p>
                            } 
                        </div>
                        <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <div class="floor-plans mb-60">
                                <h3 class="heading">Plani i kateve</h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><strong>Madhesia (m<sup>2</sup>)</strong></td>
                                            <td><strong>Dhomat</strong></td>
                                            <td><strong>Banjot</strong></td>
                                            <td><strong>Numri i kateve</strong></td>
                                        </tr>
                                        <tr>
                                            <td>@Model.Apartment.SquareMeter</td>
                                            <td>@Model.Apartment.RoomsNumber</td>
                                            <td>@Model.Apartment.BathroomsNumber</td>
                                            <td>@Model.Apartment.FloorsNumber</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <img src="~/assets/img/building-details-cover/floor-plans.jpg" alt="floor-plans" class="img-fluid">
                            </div>
                        </div>
                        <div class="tab-pane fade " id="three" role="tabpanel" aria-labelledby="three-tab">
                            <div class="property-details">
                                <h3 class="heading">Detajet e baneses</h3>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <ul>
                                            <li>
                                                <strong>Id e Ndertimit: </strong> <span>@Model.Apartment.Id</span>
                                            </li>
                                            <li>
                                                <strong>Cmimi: </strong> <span>@Model.Apartment.Price&euro;</span>
                                            </li>
                                            <li>
                                                <strong>Lloji i Ndertimit: </strong> <span>Banese</span>
                                            </li>
                                            <li>
                                                <strong>Banjo: </strong> <span>@Model.Apartment.BathroomsNumber</span>
                                            </li>
                                            <li>
                                                @if (Model.Apartment.IsFurnished)
                                                {
                                                    <strong>E Mobiluar: </strong> <span>Po</span>
                                                }
                                                else
                                                {
                                                    <strong>E Mobiluar: Jo</strong> <span>Jo</span>
                                                }
                                            </li>
                                            <li>
                                                <strong>Numri i Ashensoreve: </strong> <span>@Model.Apartment.ElevatorsNumber</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <ul>
                                            <li>
                                                <strong>Siperfaqja e Baneses:</strong><span>@Model.Apartment.SquareMeter</span> m<sup>2</sup>
                                            </li>
                                            <li>
                                                <strong>Viti i Ndertimit</strong><span>@Model.Apartment.BuiltYear</span>
                                            </li>
                                            <li>
                                                <strong>Postuar me: </strong><span>@Model.Apartment.DatePosted.Day.@Model.Apartment.DatePosted.Month.@Model.Apartment.DatePosted.Year</span>
                                            </li>
                                            <li>
                                                @if (Model.Apartment.IsIsolated)
                                                {
                                                    <strong>E Izoluar: </strong><span>Po</span>
                                                }
                                                else
                                                {
                                                    <strong>E Izoluar: </strong><span>Jo</span>
                                                }
                                            </li>
                                            <li>
                                                @if (Model.Apartment.HasTermokos)
                                                {
                                                    <strong>Ka Termokos: </strong><span>Po</span>
                                                }
                                                else
                                                {
                                                    <strong>Ka Termokos: </strong><span>Jo</span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <ul>
                                            <li>
                                                <strong>Qyteti:</strong><span>@Model.Apartment.City.Name</span>
                                            </li>
                                            <li>
                                                @if (Model.Apartment.HasParking)
                                                {
                                                    <strong>Ka Parking:</strong><span>Po</span>
                                                }
                                                else
                                                {
                                                    <strong>Ka Parking:</strong><span>Jo</span>
                                                }

                                            </li>
                                            <li>
                                                <strong>Pronari i Shtepise:</strong><span>@Model.Apartment.JBanesaUser.FirstName @Model.Apartment.JBanesaUser.LastName</span>
                                            </li>
                                            <li>
                                                <strong>Garazhe:</strong> <span>@Model.Apartment.GaragesNumber</span>
                                            </li>
                                            <li>
                                                @if (Model.Apartment.HasBasement)
                                                {
                                                    <strong>Ka Podrum:</strong> <span>Po</span>
                                                }
                                                else
                                                {
                                                    <strong>Ka Podrum:</strong> <span>Jo</span>
                                                }

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="4" role="tabpanel" aria-labelledby="4-tab">
                            <div class="property-video">
                                <h3 class="heading">Property Vedio</h3>
                                <iframe src="https://www.youtube.com/embed/m5_AKjDdqaU"></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="5" role="tabpanel" aria-labelledby="5-tab">
                            <div class="section location">
                                <h3 class="heading">Property Location</h3>
                                <div class="map">
                                    <div id="contactMap" class="contact-map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="6" role="tabpanel" aria-labelledby="6-tab">
                            <div class="related-properties">
                                <h3 class="heading">Related Properties</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="property-box">
                                            <div class="property-thumbnail">
                                                <a href="properties-details.html" class="property-img">
                                                    <div class="tag button alt featured">Featured</div>
                                                    <div class="price-ratings-box">
                                                        <p class="price">
                                                            $178,000
                                                        </p>
                                                        <div class="ratings">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <img src="http://placehold.it/350x233" alt="property-2" class="img-fluid">
                                                </a>
                                                <div class="property-overlay">
                                                    <a href="properties-details.html" class="overlay-link">
                                                        <i class="fa fa-link"></i>
                                                    </a>
                                                    <a class="overlay-link property-video" title="Test Title">
                                                        <i class="fa fa-video-camera"></i>
                                                    </a>
                                                    <div class="property-magnify-gallery">
                                                        <a href="http://placehold.it/750x540" class="overlay-link">
                                                            <i class="fa fa-expand"></i>
                                                        </a>
                                                        <a href="http://placehold.it/750x540" class="hidden"></a>
                                                        <a href="http://placehold.it/750x540" class="hidden"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="detail">
                                                <h1 class="title">
                                                    <a href="properties-details.html">Modern Family Home</a>
                                                </h1>
                                                <div class="location">
                                                    <a href="properties-details.html">
                                                        <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                                    </a>
                                                </div>
                                                <ul class="facilities-list clearfix">
                                                    <li>
                                                        <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> 3 Bedrooms
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-bath"></i> 2 Bathrooms
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> Sq Ft:3400
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-car-repair"></i> 1 Garage
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="#">
                                                    <i class="fa fa-user"></i> Jhon Doe
                                                </a>
                                                <span>
                                                    <i class="fa fa-calendar-o"></i> 2 years ago
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="property-box">
                                            <div class="property-thumbnail">
                                                <a href="properties-details.html" class="property-img">
                                                    <div class="tag button alt featured">Featured</div>
                                                    <div class="price-ratings-box">
                                                        <p class="price">
                                                            $178,000
                                                        </p>
                                                        <div class="ratings">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <img src="http://placehold.it/350x233" alt="property-7" class="img-fluid">
                                                </a>
                                                <div class="property-overlay">
                                                    <a href="properties-details.html" class="overlay-link">
                                                        <i class="fa fa-link"></i>
                                                    </a>
                                                    <a class="overlay-link property-video" title="Test Title">
                                                        <i class="fa fa-video-camera"></i>
                                                    </a>
                                                    <div class="property-magnify-gallery">
                                                        <a href="http://placehold.it/750x540" class="overlay-link">
                                                            <i class="fa fa-expand"></i>
                                                        </a>
                                                        <a href="http://placehold.it/750x540" class="hidden"></a>
                                                        <a href="http://placehold.it/750x540" class="hidden"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="detail">
                                                <h1 class="title">
                                                    <a href="properties-details.html">Relaxing Apartment</a>
                                                </h1>
                                                <div class="location">
                                                    <a href="properties-details.html">
                                                        <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                                    </a>
                                                </div>
                                                <ul class="facilities-list clearfix">
                                                    <li>
                                                        <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> 3 Bedrooms
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-bath"></i> 2 Bathrooms
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> Sq Ft:3400
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-car-repair"></i> 1 Garage
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="#">
                                                    <i class="fa fa-user"></i> Jhon Doe
                                                </a>
                                                <span>
                                                    <i class="fa fa-calendar-o"></i> 2 years ago
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-opions mb-60">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3><i class="fa fa-user"></i>@Model.Apartment.JBanesaUser.FirstName @Model.Apartment.JBanesaUser.LastName</h3>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h3 class="text-lg-right"><i class="fa fa-phone"></i>@Model.Apartment.JBanesaUser.PhoneNumber</h3>
                        </div>
                    </div>
                </div>
                <!-- Amenities box start -->
                <div class="amenities-box mb-60">
                    <h3 class="heading">Gjendja e baneses</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li><span><i class="flaticon-bed"></i> @Model.Apartment.BedsNumber Shtreter</span></li>
                                <li><span><i class="flaticon-bath"></i> @Model.Apartment.BathroomsNumber Banjo</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li><span><i class="flaticon-car-repair"></i> @Model.Apartment.GaragesNumber Garazhe</span></li>
                                <li><span><i class="flaticon-balcony-and-door"></i>@Model.Apartment.BalconiesNumber Ballkon</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li><span><i class="flaticon-air-conditioner"></i>@Model.Apartment.AirConditionersNumber Klima</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    @Model.Apartment.SwimmingPoolsNumber<i class="flaticon-swimmer"></i>
                                    Pishine
                                </li>
                            </ul>
                        </div>
                        @if (@Model.Apartment.HasParking)
                        {
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <!-- Features opions start -->
                <div class="features-opions mb-60">
                    <h3 class="heading">Karakteristikat</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                @if (Model.Apartment.AirConditionersNumber > 0)
                                {
                                    <li>
                                        <i class="flaticon-air-conditioner"></i>
                                        Klime
                                    </li>
                                }
                                @if (Model.Apartment.SwimmingPoolsNumber > 0)
                                {
                                    <li>
                                        <i class="flaticon-swimmer"></i>
                                        Pishine
                                    </li>
                                }
                                @if (Model.Apartment.BedsNumber > 0)
                                {
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        Krevet dopio
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                @if (Model.Apartment.GaragesNumber > 0)
                                {
                                    <li>
                                        <i class="flaticon-car-repair"></i>
                                        Garazhe
                                    </li>
                                }
                                @if (Model.Apartment.HasParking)
                                {
                                    <li>
                                        <i class="flaticon-parking"></i>
                                        Parking
                                    </li>

                                }
                                @if (Model.Apartment.HasTV)
                                {
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        TV
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                @if (Model.Apartment.HasAlarm)
                                {
                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        Alarm
                                    </li>

                                }
                                @if (Model.Apartment.HasSecurity)
                                {
                                    <li>
                                        <i class="flaticon-padlock"></i>
                                        Sigurim
                                    </li>
                                }
                                @if (Model.Apartment.BalconiesNumber > 0)
                                {
                                    <li>
                                        <i class="flaticon-balcony-and-door"></i>
                                        Ballkon
                                    </li>
                                }
                                @if (Model.Apartment.HasWireless)
                                {
                                    <li>
                                        <i class="flaticon-wifi-connection-signal-symbol"></i>
                                        WiFi
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar mbl">
                    <!-- Search area start -->
                    <div class="widget search-area d-none d-xl-block d-lg-block">
                        <h5 class="sidebar-title">Kerkim i avancuar</h5>
                        <div class="search-area-inner">
                            <div class="search-contents ">
                                <form method="GET">
                                    <div class="form-group">
                                        <label>Meter katror prej</label>
                                        <select class="selectpicker search-fields" name="area">
                                            <option>Meter katror prej</option>
                                            <option>1500</option>
                                            <option>1200</option>
                                            <option>900</option>
                                            <option>600</option>
                                            <option>300</option>
                                            <option>100</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Banese me</label>
                                        <select class="selectpicker search-fields" name="Status">
                                            <option>Banese me</option>
                                            <option>Qera</option>
                                            <option>Shitje</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Qyteti</label>
                                        <select class="selectpicker search-fields" name="Location">
                                            <option>Qyteti</option>
                                            <option>Prishtine</option>
                                            <option>Peje</option>
                                            <option>Mitrovice</option>
                                            <option>Gjilan</option>
                                            <option>Ferizaj</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Nr i dhomave</label>
                                        <select class="selectpicker search-fields" name="bedrooms">
                                            <option>Bedrooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Nr i banjove</label>
                                        <select class="selectpicker search-fields" name="bedrooms">
                                            <option>Nr i banjove</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <div class="range-slider">
                                            <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <br />
                                    <button class="search-button btn-md btn-color">Kerko</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Categories start -->
                    <div class="widget categories">
                        <h5 class="sidebar-title">Ndertime te ndryshme</h5>
                        <ul>
                            <li><a href="#">Apartmente<span>(12)</span></a></li>
                            <li><a href="#">Shtepia<span>(8)</span></a></li>
                            <li><a href="#">Lokale<span>(5)</span></a></li>
                            <li><a href="#">Villa<span>(63)</span></a></li>                            
                        </ul>
                    </div>

                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h5 class="sidebar-title">Banesat e fundit</h5>
                        <div class="media mb-4">
                            <a href="properties-details.html">
                                <img src="http://placehold.it/75x75" alt="sub-property">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="properties-details.html">Beautiful Single Home</a>
                                </h5>
                                <p>February 27, 2018</p>
                                <p> <strong>$245,000</strong></p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <a href="properties-details.html">
                                <img src="http://placehold.it/75x75" alt="sub-property-2">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="properties-details.html">Sweet Family Home</a>
                                </h5>
                                <p>February 27, 2018</p>
                                <p> <strong>$245,000</strong></p>
                            </div>
                        </div>
                        <div class="media">
                            <a href="properties-details.html">
                                <img src="http://placehold.it/75x75" alt="sub-property-3">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="properties-details.html">Real Luxury Villa</a>
                                </h5>
                                <p>February 27, 2018</p>
                                <p> <strong>$245,000</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->


<!-- Property Video Modal -->
<!--<div class="modal property-modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propertyModalLabel">
                    Find Your Dream Properties
                </h5>
                <p>
                    123 Kathal St. Tampa City,
                </p>
                <span class="ratings">
                    <i class="fa fa-star s1 active" data-score="1"></i>
                    <i class="fa fa-star s2 active" data-score="2"></i>
                    <i class="fa fa-star s3 active" data-score="3"></i>
                    <i class="fa fa-star s4 active" data-score="4"></i>
                    <i class="fa fa-star s5 active" data-score="5"></i>
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 modal-left">
                        <div class="modal-left-content">
                            <div id="modalCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <iframe class="modalIframe" src="https://www.youtube.com/embed/5e0LxrLSzok" allowfullscreen></iframe>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="http://placehold.it/400x267" alt="Test ALT">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="http://placehold.it/400x267" alt="Test ALT">
                                    </div>
                                </div>
                                <a class="control control-prev" href="#modalCarousel" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="control control-next" href="#modalCarousel" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="description">
                                <h3>Description</h3>
                                <p>
                                    Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque
                                    massa, viverra interdum eros ut, imperdiet pellentesque mauris. Proin sit amet scelerisque
                                    risus. Donec semper semper erat ut mollis. Curabitur suscipit, justo eu dignissim lacinia, ante
                                    sapien pharetra duin consectetur eros augue sed ex. Donec a odio rutrum,
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 modal-right">
                        <div class="modal-right-content bg-white">
                            <strong class="price">
                                $178,000
                            </strong>
                            <section>
                                <h3>Features</h3>
                                <ul class="bullets">
                                    <li><i class="flaticon-bed"></i> Double Bed</li>
                                    <li><i class="flaticon-swimmer"></i> Swimming Pool</li>
                                    <li><i class="flaticon-bath"></i> 2 Bathroom</li>
                                    <li><i class="flaticon-car-repair"></i> Garage</li>
                                    <li><i class="flaticon-parking"></i> Parking</li>
                                    <li><i class="flaticon-theatre-masks"></i> Home Theater</li>
                                    <li><i class="flaticon-old-typical-phone"></i> Telephone</li>
                                    <li><i class="flaticon-green-park-city-space"></i> Private space</li>
                                </ul>
                            </section>
                            <section>
                                <h3>Overview</h3>
                                <dl>
                                    <dt>Area</dt>
                                    <dd>2500 Sq Ft:3400</dd>
                                    <dt>Condition</dt>
                                    <dd>New</dd>
                                    <dt>Year</dt>
                                    <dd>2018</dd>
                                    <dt>Price</dt>
                                    <dd>$178,000</dd>
                                </dl>
                            </section>
                            <section>
                                <h3>Last Review</h3>
                                <div class="ratings" data-rating="5">
                                    <span>
                                        <i class="fa fa-star s1 active" data-score="1"></i>
                                        <i class="fa fa-star s2 active" data-score="2"></i>
                                        <i class="fa fa-star s3 active" data-score="3"></i>
                                        <i class="fa fa-star s4 active" data-score="4"></i>
                                        <i class="fa fa-star s5 active" data-score="5"></i>
                                    </span>
                                </div>
                                <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa, viverra interdum</p>
                            </section>
                            <a href="properties-details.html" class="btn btn-black">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
